*{
    margin: 0 auto;;
    padding: 0;
}
section{
    text-align: center;
}
.proc{
    background: #32cd32;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    position: absolute;
    z-index: 1;
}
.no-proc{
    width: 100px;
    background: white;
    position: absolute;
    z-index: 2;
}
.border_prot{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid black;
    box-sizing: border-box;
    position: absolute;
    z-index: 3;
}
.calsc{
    background: #32cd32;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    position: absolute;
    z-index: 1;
}
.no-cals{
    width: 100px;
    background: white;
    position: absolute;
    z-index: 2;
}
.border_cals{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid black;
    box-sizing: border-box;
    position: absolute;
    z-index: 3;
}
.prot{
    width: 100px;
    height: 100px;
    text-align: center;
}
.cals{
    width: 100px;
    height: 100px;
}
.input{
    width: 50px;
}
.test{
    padding-top: 40%;
}
/* скрываем чекбоксы и блоки с содержанием */
.hide {
    display: none; 
}
.hide + label ~ div{
    display: none;
}
/* оформляем текст label */
.hide + label {
    color: green;
    cursor: pointer;
}
/* вид текста label при активном переключателе */
.hide:checked + label {
    color: red;
}
/* когда чекбокс активен показываем блоки с содержанием  */
.hide:checked + label + div {
    display: block;
}
.other_date{
    text-align: center;
}